@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: rgb(15, 15, 15);
$color-happy: rgb(255, 136, 0);
$color-cold: rgb(0, 140, 255);

$font-logo: 'Roboto Mono', sans-serif;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-dark;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  color: $color-happy;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-light, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0; 
}

.posts {
  flex: 2 0 0;
}

.sidebar, .posts {
  background: url('https://cdn.cultofmac.com/wp-content/uploads/2018/10/IMG_2651-2.cc38d6cb8edf491d9d4ae92851be67a5-780x585.jpg');
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-happy;
  border-radius: 5px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  background-image: url('https://wallpapercave.com/wp/wp3422169.jpg');
  color: $color-cold;
}

/* Lists */

.list {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  color: $color-light;
  display: none;
  &.active {
    display: block;
  }
}

.post-author {
  font-style: italic;
  color: $color-light;
}

.post-tags {
  color: $color-light;
  display: flex;
  p {
    margin: 100 10px 0 0;
  }
}
